# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# procton-generated (in any subproject)
**/flake.nix
**/output/
result

# Nix
.direnv/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
